{% extends 'templates/master.twig' %}

{% block content %}
    <div id="sign_up">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Sign up</div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input id="name" type="text" class="form-control grey-text" v-model="user.name" autofocus>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input id="email" type="text" class="form-control grey-text" v-model="user.email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input id="password" type="password" class="form-control grey-text" v-model="user.password">
                            </div>
                        </form>
                        <div class="row center-align signup-btn">
                            <div class="input-field col-md-6 padding-b30">
                                <button type="submit" class="col s12 btn btn-large blue waves-effect" @click="add">Sign up</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>

<script>
    var signup = new Vue({
       el: '#sign_up',
       data: {
           user: {}
       },
        methods: {
          add: function () {

              var url = "{{ path_for('auth.signup') }}";
              var data = this.user;
              $.post(url, data, function(data) {
                  if (data.success) {
                    console.log(data.message)
                      location.reload();
                  } else {
                      location.reload();
                  }
              }.bind(this), 'json');
          } 
        }

    });

</script>
{% endblock %}
