body {
    padding-top: 200px;
    padding-bottom: 40px;
    background-color: darkslategrey;
}

.index-panel-heading {
    background-color: darkturquoise !important;
}

.index-button-pos {
    margin-top: 75px;
    text-align: center;
}

.panel-title {
    font-size: 35px;
    font-family: "Droid Sans"
}

a:hover {
    text-decoration: none;
}

.buttons {
    text-decoration: none;
    color: white;
    margin: 20px;
}

.img-index {
    display: block;
    margin: 0 auto;
}

.right {
    float: right;
}

.left {
    float: left;
}

.bottom {
    margin-bottom: 50px;
}
.user-photo {
    margin-top: -15px;
}

.signup-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel .panel-body {
    background-color: beige;
}

.panel-heading {
    text-align: center;
    font-family: monospace;
}

form {
    font-family: monospace;
}

