body {
    padding-top: 200px;
    padding-bottom: 40px;
    background-color: darkslategrey;
}

.right {
    float: right;
}

.signup-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel .panel-body {
    background-color: beige;
}

.panel-heading {
    text-align: center;
    font-family: monospace;
}

form {
    font-family: monospace;
}