<div id="password_edit" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col s12 center-align">
        <h3>Change Password</h3>
      </div>
    </div>
    
    <form @submit.prevent="update">
      <div class="row">
        <div class="col s6 input-field">
          <label>New password</label>
          <input type="password" v-model="user.new_password">
          {% verbatim %}
            <span class="help-block" v-show="new_password_error" style="color: red">{{ new_password_text }}</span>
          {% endverbatim %}
        </div>
      </div>
      
      <div class="row">
        <div class="col s6 input-field">
          <label>Confirm Password</label>
          <input type="password" v-model="user.confirm_password">
          {% verbatim %}
            <span class="help-block" v-show="confirm_password_error" style="color: red">{{ confirm_password_text }}</span>
          {% endverbatim %}
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 right-align">
          <span class="btn blue" v-on:click="update">Update</span>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  
  var password_edit = new Vue({
    el: '#password_edit',
    data: {
    	user: {
    		new_password: '',
        confirm_password: ''
      },
      new_password_text: '',
      new_password_error: false,
      confirm_password_text: '',
      confirm_password_error: false
    },
    methods: {
      update: function () {
				this.$set('new_password_error', false);
				this.$set('confirm_password_error', false);
	
				if (this.user.new_password !== this.user.confirm_password) {
					$('body').overhang({
						type: 'error',
						message: "Passwords do not match"
					});
					return;
				}
				
				var url = "{{ path_for('user.password_edit') }}";
				var data = this.user;
				
        Vue.http.post(url, data, function(data){
					if (data.success) {
						$("body").overhang({
						type: 'success',
						message: data.message
					});
					} else {
						if (data.message.new_password) {
							//password_edit.$set('new_password_text', data.message.new_password[0]);
							password_edit.new_password_text = data.message.new_password[0];
							password_edit.new_password_error = true;
							//password_edit.$set('new_password_error', true);
						}
						if (data.message.confirm_password) {
							password_edit.$set('confirm_password_text', data.message.confirm_password[0]);
							password_edit.$set('confirm_password_error', true);
						}
          }
				}.bind(this), 'json');
			}
    }
  });
</script>